@model IEnumerable<ddac.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout-Agent.cshtml";
}

<h2>Shipping Schedule</h2>


@{
    Html.RenderAction("_ScheduleList");
}


